<div class="card author-card author-{{slug}}{{#if class}} {{class}}{{/if}}{{#if is_wide}} wide{{/if}}">
  {{!-- Author card cover --}}
  <figure class="author-card__cover">
    {{#if cover_image}}
      <img class="lazyload" 
        data-srcset="{{img_url cover_image size="s"}} 300w,
            {{img_url cover_image size="m"}} 600w"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-sizes="auto"
        data-src="{{img_url cover_image size="s"}}"
        src="{{img_url cover_image size="xxs"}}"
        alt="{{name}}"
      />
    {{/if}}
  </figure>

  {{!-- Author profile image --}}
  {{#if profile_image}}
    {{#link href=(url) class="author-card__media flex flex-cc is-round"}}
      <img class="lazyload author-card__img is-round z-index-1" 
        data-srcset="{{img_url profile_image size="xs"}} 100w,
            {{img_url profile_image size="s"}} 300w"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-sizes="auto"
        data-src="{{img_url profile_image size="xs"}}"
        src="{{img_url profile_image size="xxs"}}"
        alt="{{name}}"
      />
    {{/link}}
  {{/if}}

  {{!-- Author hero content --}}
  <div class="author-card__content flex-1 flex flex-col text-acc-1">
    {{!-- Title and description --}}
    <div class="author-card__name fw-700 m-b-xs">
      {{#link href=(url)}}{{name}}{{/link}}
    </div>
    
    {{#if bio}}<div class="author-card__descr flex-1 text-acc-3 m-b">{{bio}}</div>{{/if}}
    
    <div class="author-card__details flex text-acc-3">
      {{!-- Post count --}}
      {{#if count.posts}}
        <div class="fw-600 flex-1 text-sm">{{plural count.posts empty=(t 'No posts') singular=(t '1 post') plural=(t '% posts')}}</div>
      {{/if}}

      {{!-- Author social links --}}
      <div class="author-card__social flex flex-cc">
        {{!-- Twitter --}}
        {{#if twitter}}
          <a href="{{twitter_url}}" class=""
            title="Twitter" aria-label="Twitter"
            target="_blank" rel="noopener noreferrer"
          >
            {{> icon name="twitter" size="xs"}}
          </a>
        {{/if}}
        {{!-- Facebook --}}
        {{#if facebook}}
          <a href="{{facebook_url}}" class=""
            title="Facebook" aria-label="Facebook"
            target="_blank" rel="noopener noreferrer"
          >
            {{> icon name="facebook" size="xs"}}
          </a>
        {{/if}}
        {{!-- Author website --}}
        {{#if website}}
          <a href="{{website}}" class=""
            title="Website" aria-label="Website"
            target="_blank" rel="noopener noreferrer"
          >
            {{> icon name="link" size="xs"}}
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
