<div class="member-profile flex items-center">
  {{#if @member.avatar_image}}
    <figure class="member-profile__media">
      <img src="{{@member.avatar_image}}" alt="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}"/>
    </figure>
  {{/if}}
  <div class="member-profile__content flex-1">
    <div class="member-profile__title fw-600 text-xl m-b-xs">
      {{t "Welcome back"}}{{#if @member.name}}, {{@member.name}}{{/if}}!
    </div>
    <div class="member-profile__description text-acc-3">
      {{#if @member.paid}}
        {{!-- Info for paying members --}}
        {{#if cancel_at_period_end}}
          <span class="color-error fw-600">{{t "Your subscription will expire on"}} {{date current_period_end format="DD MMM YYYY"}}.</span>
          {{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}
        {{else}}
          {{t "Currently, you have an active account to all areas."}}
          {{t "You're all set, but if you need any help, get in touch with us and we'd be happy to help."}}
        {{/if}}
      {{else if @member}}
        {{!-- Info for regular members --}}
        {{t "Currently, you are subscribed to free updates."}} 
        {{t "Unlock full access to see the entire library of members-only content & updates by subscribing to a paid plan."}}
      {{/if}}  
    </div>
  </div>
</div>